/*
 * TOTEM — keymap replicado desde corne-wired.vil (Vial/QMK)
 *
 * Cambios respecto al Corne:
 *  - Tecla exterior inferior izquierda = LSHIFT (tap) / CAPS (doble tap)
 *  - Pulgar izquierdo ENTER = tap ENTER, hold LCTRL
 *  - Capa ADJ (3): fila superior derecha = perfiles Bluetooth 0-4
 *    y BT_CLR en la tecla exterior derecha
 *  - FN_MO13 / FN_MO23 (tri-layer VIA) -> &mo + conditional_layers
 *  - RGB eliminado (el TOTEM no tiene), QK_BOOT -> &bootloader
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE  0
#define LOWER 1
#define RAISE 2
#define ADJ   3

/ {
    behaviors {
        td_shift_caps: tap_dance_shift_caps {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LSHFT>, <&kp CAPS>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJ>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "BASE";
            bindings = <
//          ┌───────┬───────┬───────┬───────┬───────┐    ┌───────┬───────┬───────┬───────┬───────┐
//          │   Q   │   W   │   E   │   R   │   T   │    │   Y   │   U   │   I   │   O   │   P   │
              &kp Q   &kp W   &kp E   &kp R   &kp T        &kp Y   &kp U   &kp I   &kp O   &kp P
//          │   A   │   S   │   D   │   F   │   G   │    │   H   │   J   │   K   │   L   │   ;   │
              &kp A   &kp S   &kp D   &kp F   &kp G        &kp H   &kp J   &kp K   &kp L   &kp SEMI
//  ┌───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┐
//  │SHF/CPS│   Z   │   X   │   C   │   V   │   B   │    │   N   │   M   │   ,   │   .   │   /   │ BSPC  │
    &td_shift_caps &kp Z   &kp X   &kp C   &kp V   &kp B        &kp N   &kp M &kp COMMA &kp DOT &kp FSLH &kp BSPC
//  └───────┴───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┴───────┴───────┘
//                  │  GUI  │ LOWER │CTL/ENT│              │ SPACE │ RAISE │  ESC  │
                    &kp LGUI &mo LOWER &mt LCTRL RET          &kp SPACE &mo RAISE &kp ESC
            >;
        };

        lower_layer {
            display-name = "LOWER";
            bindings = <
//          ┌───────┬───────┬───────┬───────┬───────┐    ┌───────┬───────┬───────┬───────┬───────┐
//          │   1   │   2   │   3   │   4   │   5   │    │   6   │   7   │   8   │   9   │   0   │
              &kp N1  &kp N2  &kp N3  &kp N4  &kp N5       &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
//          │ CTRL  │       │       │       │       │    │   ←   │   ↓   │   ↑   │   →   │  TAB  │
            &kp LCTRL &none   &none   &none   &none      &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp TAB
//  ┌───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┐
//  │ (ctrl)│       │       │       │       │       │    │       │       │       │       │       │   '   │
     &trans   &none   &none   &none   &none   &none        &none   &none   &none   &none   &none  &kp SQT
//  └───────┴───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┴───────┴───────┘
//                  │  GUI  │ ▽▽▽▽▽ │ SPACE │              │ SPACE │ ▽▽▽▽▽ │  GUI  │
                    &kp LGUI  &trans &kp SPACE          &kp SPACE  &trans  &kp RGUI
            >;
        };

        raise_layer {
            display-name = "RAISE";
            bindings = <
//          ┌───────┬───────┬───────┬───────┬───────┐    ┌───────┬───────┬───────┬───────┬───────┐
//          │   !   │   @   │   #   │   $   │   %   │    │   ^   │   &   │   *   │   (   │   )   │
             &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT  &kp CARET &kp AMPS &kp ASTRK &kp LPAR &kp RPAR
//          │       │       │       │       │       │    │   -   │   =   │   [   │   ]   │   \   │
              &none   &none   &none   &none   &none      &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH
//  ┌───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┐
//  │ (ctrl)│   `   │       │       │       │       │    │   _   │   +   │   {   │   }   │   |   │   ~   │
     &trans &kp GRAVE &none   &none   &none   &none      &kp UNDER &kp PLUS &kp LBRC &kp RBRC &kp PIPE &kp TILDE
//  └───────┴───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┴───────┴───────┘
//                  │  GUI  │ ▽▽▽▽▽ │ SPACE │              │ SPACE │ ▽▽▽▽▽ │  GUI  │
                    &kp LGUI  &trans &kp SPACE          &kp SPACE  &trans  &kp RGUI
            >;
        };

        adjust_layer {
            display-name = "ADJ";
            bindings = <
//          ┌───────┬───────┬───────┬───────┬───────┐    ┌───────┬───────┬───────┬───────┬───────┐
//          │ BOOT  │       │   '   │       │       │    │ BT 0  │ BT 1  │ BT 2  │ BT 3  │ BT 4  │
            &bootloader &none &kp SQT &none   &none    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
//          │ RESET │       │       │       │       │    │       │       │       │       │       │
            &sys_reset &none  &none   &none   &none        &none   &none   &none   &none   &none
//  ┌───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┐
//  │ (ctrl)│USB/BLE│       │       │       │       │    │       │       │       │       │       │BT CLR │
     &trans &out OUT_TOG &none &none  &none   &none        &none   &none   &none   &none   &none &bt BT_CLR
//  └───────┴───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┴───────┴───────┘
//                  │  GUI  │ ▽▽▽▽▽ │ SPACE │              │ ENTER │ ▽▽▽▽▽ │  GUI  │
                    &kp LGUI  &trans &kp SPACE           &kp RET   &trans  &kp RGUI
            >;
        };
    };
};
